.align-items-stretch { align-items: stretch; }

small, .small { font-size: 0.75rem; }

a:hover { cursor: pointer; }

a[class*="button"] { display: block; }
a[class*="button"]:hover { opacity: .75; }
.carousel .caption a[class*="button"] { margin-left: auto; margin-right: auto; }

.d-none { display: none; }

.box-social { display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ display: flex; justify-content: center; align-items: center; }
.box-social > * { -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */ -webkit-flex: 1; /* Safari 6.1+. iOS 7.1+, BB10 */ -ms-flex: 1; /* IE 10 */ flex: 1; }
.box-social > a { width: 100%; }
@media screen and (max-width: 768px) { .box-social > a { margin: 3rem 6rem; } }
@media screen and (min-width: 769px) and (max-width: 1023px) { .box-social > a { margin: 2rem 3rem; } }
@media screen and (min-width: 1024px) { .box-social > a { margin: 0 2rem; } }
.box-social img { max-width: 100%; }

.icon-link { display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ display: flex; justify-content: flex-start; align-items: center; }
.icon-link > * { -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */ -webkit-flex: 1; /* Safari 6.1+. iOS 7.1+, BB10 */ -ms-flex: 1; /* IE 10 */ flex: 1; }
.icon-link:hover { cursor: pointer; }
.icon-link:before { content: ''; height: 2rem; width: 2rem; display: inline-block; margin-right: 0.5rem; margin-left: 0; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: 2rem auto; }
.box-links .icon-link { font-size: 0.875rem; }

.icon-link.Bestuur:before { background-image: url("../icons/icon_Bestuur.png"); background-image: none, url("../icons/icon_Bestuur.svg"); }

.icon-link.Contact:before { background-image: url("../icons/icon_Contact.png"); background-image: none, url("../icons/icon_Contact.svg"); }

.icon-link.Gallery:before { background-image: url("../icons/icon_Gallery.png"); background-image: none, url("../icons/icon_Gallery.svg"); }

.icon-link.Home:before { background-image: url("../icons/icon_Home.png"); background-image: none, url("../icons/icon_Home.svg"); }

.icon-link.About:before { background-image: url("../icons/icon_About.png"); background-image: none, url("../icons/icon_About.svg"); }

.icon-link.Jobs:before { background-image: url("../icons/icon_Jobs.png"); background-image: none, url("../icons/icon_Jobs.svg"); }

.icon-link.Ledensectie:before { background-image: url("../icons/icon_Ledensectie.png"); background-image: none, url("../icons/icon_Ledensectie.svg"); }

.icon-link.Links:before { background-image: url("../icons/icon_Links.png"); background-image: none, url("../icons/icon_Links.svg"); }

.icon-link.Pers:before { background-image: url("../icons/icon_Pers.png"); background-image: none, url("../icons/icon_Pers.svg"); }

.icon-link.Publicaties:before { background-image: url("../icons/icon_Publicaties.png"); background-image: none, url("../icons/icon_Publicaties.svg"); }

.icon-link.Relations:before { background-image: url("../icons/icon_Relations.png"); background-image: none, url("../icons/icon_Relations.svg"); }

.icon-link.Suche:before { background-image: url("../icons/icon_Suche.png"); background-image: none, url("../icons/icon_Suche.svg"); }

.icon-link.Tweets:before { background-image: url("../icons/icon_Tweets.png"); background-image: none, url("../icons/icon_Tweets.svg"); }

html { font-size: 100.1%; overflow-y: scroll; -webkit-text-size-adjust: 100.1%; -ms-text-size-adjust: 100.1%; height: 100%; }

body { margin: 0; font-size: 1rem; line-height: 1.3rem; font-style: normal; font-weight: 400; background-color: #e0dfda; text-align: left; color: #262625; overflow: auto; }

/* reset pure menu styles*/
.pure-g, .pure-g [class*="pure-u"], body { font-family: "Maven Pro", Helvetica, Arial, sans-serif !important; }

h1, h2, h3, h4, h5, h6 { font-family: "Maven Pro", Helvetica, Arial, sans-serif; }

h2 { font-size: 1.25rem; font-weight: 500; }

h3, h4 { font-size: 1.25rem; }
.sidebar h3, .sidebar h4 { margin-top: 0; }
.sidebar h3, .sidebar h3 a, .sidebar h4, .sidebar h4 a { color: inherit; }

.sidebar h3 { text-transform: uppercase; font-weight: 500; letter-spacing: 0.1rem; }

.sidebar h4 { font-weight: 400; }

input[type="search"] { border: 1px solid rgba(255, 255, 255, 0.5) !important; background-color: rgba(255, 255, 255, 0.12); box-shadow: none !important; height: 20px; margin: 5px; border-radius: 2px !important; font-size: 0.8em; padding: .5em 0 .5em 2em !important; background-image: url(../icons/icon_Suche.png); background-image: none, url(../icons/icon_Suche.svg); background-position: -5px 50%; background-size: 35px auto; background-repeat: no-repeat; }
input[type="search"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: white; opacity: 1; /* Firefox */ }
input[type="search"]:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: white; }
input[type="search"]::-ms-input-placeholder { /* Microsoft Edge */ color: white; }

@media screen and (max-width: 568px) { form.search { float: right; } }

.language li, .language ul { list-style: none; }
.language ul { float: right; margin-right: 20px; padding: 0; }
.language ul li { display: inline-block; margin-left: 20px; }
.language ul li a { display: block; width: 25px; height: 25px; line-height: 25px; text-align: center; color: white; text-transform: uppercase; text-decoration: none; font-size: 0.7em; border-radius: 50%; }

.pure-menu { font-family: "Maven Pro", Helvetica, Arial, sans-serif; }
.pure-menu .meta-menu { font-size: 0.875rem; text-transform: uppercase; }
@media screen and (min-width: 768x) { .pure-menu .meta-menu { margin-left: 8.33335%; } }
[class*="banner"] .pure-menu { background: #f7f7f5; overflow: hidden; margin-bottom: -1rem; }
@media screen and (max-width: 768px) { [class*="banner"] .pure-menu { display: none; } }
.pure-menu .main-menu { font-size: 1rem; padding: 1rem 0; }
.pure-menu .main-menu { padding: 3rem 0; }
.pure-menu .footer-menu { margin-top: 2rem; margin-bottom: 6rem; display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ display: flex; flex-direction: column; flex-wrap: wrap; height: 100px; }
.pure-menu .footer-menu > * { -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */ -webkit-flex: 1; /* Safari 6.1+. iOS 7.1+, BB10 */ -ms-flex: 1; /* IE 10 */ flex: 1; }
@media screen and (max-width: 1023px) { .pure-menu .meta-menu, .pure-menu .main-menu { display: none; } }
@media screen and (min-width: 1024px) { .pure-menu .meta-menu, .pure-menu .main-menu { display: block; } }
@media screen and (max-width: 1023px) { .pure-menu.off-canvas { display: block; } }
@media screen and (min-width: 1024px) { .pure-menu.off-canvas { display: none; } }

.footer-menu .pure-menu-item.header-links, .main-menu .pure-menu-item.footer-links { display: none; }
.footer-menu .pure-menu-item { flex: 1 0 40px; max-height: 40px; }

.pure-menu-link { color: #fff; }
.pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover { background-color: transparent; }

.flexslider.carousel { display: none; position: relative; overflow: hidden; }
.flexslider.carousel * { color: #fff; }
@media screen and (min-width: 568px) { .flexslider.carousel .slide-cnt { display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ display: flex; }
  .flexslider.carousel .slide-cnt > * { -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */ -webkit-flex: 1; /* Safari 6.1+. iOS 7.1+, BB10 */ -ms-flex: 1; /* IE 10 */ flex: 1; }
  .flexslider.carousel .slide-cnt > .elastic, .flexslider.carousel .slide-cnt .caption { flex: 2 0 50%; } }
.flexslider.carousel .elastic { height: 0; width: 40%; padding-bottom: 30%; position: relative; display: block; overflow: hidden; }
.flexslider.carousel .elastic > * { position: absolute; height: 100%; width: 100%; left: 0; top: 0; }
.flexslider.carousel img { max-width: 100%; }
.flexslider.carousel .caption { text-align: center; }
.flexslider.carousel .caption-cnt { margin: 1rem auto; width: 66%; }
@media screen and (max-width: 568px) { .flexslider.carousel .caption-cnt .text { display: none; } }
.flexslider.carousel .flex-direction-nav, .flexslider.carousel .flex-control-nav { list-style: none; }
.flexslider.carousel .flex-direction-nav span, .flexslider.carousel .flex-control-nav span { display: none; }
.flexslider.carousel .flex-control-nav { position: absolute; right: 1rem; bottom: 1rem; }
.flexslider.carousel .flex-control-nav li { display: inline-block; margin: 0 .5rem; }
.flexslider.carousel .flex-control-nav li a { background-color: #fff; width: .3rem; height: .3rem; border-radius: 50%; display: block; opacity: .5; }
.flexslider.carousel .flex-control-nav li a.flex-active { opacity: 1; }
.flexslider.carousel .flex-direction-nav .flex-prev, .flexslider.carousel .flex-direction-nav .flex-next { display: inline-block; position: absolute; top: calc(50% - 20px); }
.flexslider.carousel .flex-direction-nav .flex-prev { left: 1rem; }
.flexslider.carousel .flex-direction-nav .flex-next { right: 1rem; }
.flexslider.carousel .flex-direction-nav .flex-prev:before, .flexslider.carousel .flex-direction-nav .flex-next:after { content: ' '; width: 40px; height: 40px; display: block; background-size: contain; background-position: center center; background-color: transparent; }
.flexslider.carousel .flex-direction-nav .flex-prev:before { background-image: url("../bilder/slider-arrow-prev@3x.png"); background-image: none, url("../bilder/slider-arrow-prev.svg"); }
.flexslider.carousel .flex-direction-nav .flex-next:after { background-image: url("../bilder/slider-arrow-next@3x.png"); background-image: none, url("../bilder/slider-arrow-next.svg"); }

body { background: #fff; /*min-height: 100vH;
@include d-flex;
flex-direction: column;
justify-content: space-between;*/ }

@media screen and (min-width: 1280px) { .wrapper { width: 100%; max-width: 1140px; margin: 0 auto; padding: 0; } }

@media screen and (min-width: 1280px) { body > header { padding-top: 2rem; } }
body > header .shadow { background-image: url("../bilder/shadow.png"); background-repeat: repeat-x; background-position-x: center; background-size: auto 196px; }
body > header .header-section { background: rgba(255, 255, 255, 0.8); }
@media screen and (max-width: 767px) { body > header .header-section { flex-direction: column-reverse; } }
@media screen and (max-width: 1279px) { body > header .header-section { border-radius: 0; } }

@media screen and (max-width: 320px) { .logo { width: 100% !important; display: block; } }

.main-section { background: #f7f7f5; }
.main-section + footer { margin-top: -1.5rem; }

.content { margin-top: 2rem; }
.content [class*="pure-u"] > .block { margin: 0 0 2rem 0; padding: 0 2rem; }
.content [class*="pure-u"] > .block p + a[class*="button_"] { margin-top: 2.25rem; }
.content [class*="pure-u"] img { max-width: 100%; }

.sidebar { background: #f7f7f5; margin-top: -1.5rem; }
.sidebar [class*="pure-u"] [class*="box-"] { padding: 1.5rem; color: white; }
.sidebar [class*="pure-u"].box-links { padding: 0; display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ display: flex; flex-direction: column; }
.sidebar [class*="pure-u"].box-links > * { -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */ -webkit-flex: 1; /* Safari 6.1+. iOS 7.1+, BB10 */ -ms-flex: 1; /* IE 10 */ flex: 1; }
.sidebar [class*="pure-u"].box-links [class*="box-"] { flex: 1; height: 50%; }

.box-list ul, .box-list li { list-style-type: none; }
.box-list li { display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ display: flex; align-items: center; margin: 1rem 0; }
.box-list li > * { -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */ -webkit-flex: 1; /* Safari 6.1+. iOS 7.1+, BB10 */ -ms-flex: 1; /* IE 10 */ flex: 1; }
.box-list li:before { content: ' '; display: block; content: ''; height: 25px; width: 25px; display: inline-block; margin-right: 0.5rem; margin-left: 0; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: 25px auto; background-image: url("../bilder/small-arrow-right.png"); background-image: none, url("../bilder/small-arrow-right.svg"); }

/*# sourceMappingURL=style.css.map */
